.button {
  display: block;
  margin-top: 2.6rem;
  overflow: visible;
  color: inherit;
  text-decoration: none;
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid rgba(198, 40, 92, 0.8);
  border-radius: 4rem;
  padding: 1rem 2rem;
  position: relative;
  background-color: rgba(198, 40, 92, 0.8);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.button::after {
  content: "";
  position: absolute;
  background-color: rgba(198, 40, 92, 0.8);
  height: 100%;
  width: 100%;
  border-radius: 4.6rem;
  left: 0;
  top: 0;
  display: inline-block;
  z-index: -1;
  transition: all 0.5s;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.button:active,
.button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.orderButton a {
  color: white;
  text-decoration: none;
}

.contactSubmit {
  padding: 0.3rem 0;
  margin: 0;
}
